<!DOCTYPE html>
<html lang="en-US" ng-app="localAdvisorApp">
<head>

  <!-- Mobile viewport optimized -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css"  href="css/custom.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">


  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="js/controllers.js"></script>
</head>
<body ng-controller="localAdvisorCtrl">

	<div class="container"> 
	  <div class="row" id="feature">
		<div class="col-md-4 feature">
			<a href="http://www.accuweather.com/en/us/champaign-il/61820/weather-forecast/328774" class="aw-widget-legal"></a>
			<div id="awcc1460247631085" class="aw-widget-current"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awcc1460247631085">
			</div>
			<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
		</div>
		<div class="col-md-4 feature">
			<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=42.3583&lon=-71.0603&name=Downtown Boston"> </iframe>
		</div>
	</div>

	<h2>Search</h2>
		<div class="row">
			<div class="input-group">    		 
				<input type="text" class="form-control"  placeholder="Please type a location.." ng-model="location">
				<span class="input-group-btn">
					<button class="btn btn-primary" ng-click="setLocation(location)" >  Search  </button>
			   </span>
			</div>
		</div>             
	<hr>
	<div class="row">
		<div class="col-md-6 feature">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Top Restaurants (Yelp says so!!!)
						<span class="pull-right glyphicon glyphicon-cutlery clickable_space" data-toggle="collapse" data-parent="#the_items" data-target="#n_1"></span>                    
					</h3>
				</div><!-- end panel-heading -->
				  <ul class="list-unstyled">
					<li ng-repeat="listing in yelplistings">
					  <span>{{listing.name}} <img ng-src="{{listing.rating_img_url}}" alt="{{listing.rating}}"><a class="pull-right"  target="_blank" href="{{listing.url}}">(Go to Yelp)</a></span>
					  <p>{{listing.location.display_address.join(', ')}}</p>
					  <p>{{listing.display_phone}}</p>
					</li>
				  </ul>
				<!--a href=# target="_blank" class="btn btn-warning btn-block">See More..</a>-->
			</div><!-- end panel -->
		</div><!-- end feature -->

		<div class="col-md-6 feature">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Upcoming Events (What's up?)
						<span class="pull-right glyphicon glyphicon-music clickable_space" data-toggle="collapse" data-parent="#the_items" data-target="#n_1"></span></h3>
				</div><!-- end panel-heading -->
				  <ul class="list-unstyled">
					<li ng-repeat="listing in eventlistings">
					  <span>{{listing.title}} <a class="pull-right"  target="_blank" href="{{listing.url}}">(Details from Eventful)</a></span>
					  <p>{{listing.start_time}} {{listing.venue_name}}</p>
					  <p>{{listing.venue_address}}, {{listing.city_name}}, {{listing.postal_code}}</p>
					</li>
				  </ul>
				<!--a href=# target="_blank" class="btn btn-info btn-block">See More..</a> -->
			</div><!-- end panel -->
		</div><!-- end feature -->
	</div>
	<div class="row">
		<div class="col-md-6 feature">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">A Lot Can Happen Over A Coffee...
						<span class="pull-right glyphicon glyphicon-leaf  clickable_space" data-toggle="collapse" data-parent="#the_items" data-target="#n_1"></span></h3>
					
				</div><!-- end panel-heading -->
				  <ul>
					<li ng-repeat="listing in coffeelistings">
					  <span>{{listing.name}} <img ng-src="{{listing.rating_img_url}}" alt="{{listing.rating}}"><a class="pull-right"  target="_blank" href="{{listing.url}}">(Go to Yelp)</a></span>
					  <p>{{listing.location.display_address.join(', ')}}</p>
					  <p>{{listing.display_phone}}</p>
					</li>
				  </ul>
				<!--a href=# target="_blank" class="btn btn-warning btn-block">See More..</a>-->
			</div><!-- end panel -->
		</div><!-- end feature -->

		<div class="col-md-6 feature">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Let's Make A Night To Remember...
						<span class="pull-right glyphicon glyphicon-glass clickable_space" data-toggle="collapse" data-parent="#the_items" data-target="#n_1"></span></h3>
					
				</div><!-- end panel-heading -->
				  <ul>
					<li ng-repeat="listing in nightlifelistings">
					  <span>{{listing.name}} <img ng-src="{{listing.rating_img_url}}" alt="{{listing.rating}}"><a class="pull-right"  target="_blank" href="{{listing.url}}">(Go to Yelp)</a></span>
					  <p>{{listing.location.display_address.join(', ')}}</p>
					  <p>{{listing.display_phone}}</p>
					</li>
				  </ul>
				<!--a href=# target="_blank" class="btn btn-warning btn-block">See More..</a>-->
			</div><!-- end panel -->
		</div><!-- end feature -->
    </div>

	<div class="row">
		<div class="col-md-6 feature">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Sightseeing
						<span class="pull-right glyphicon glyphicon-globe clickable_space" data-toggle="collapse" data-parent="#the_items" data-target="#n_1"></span></h3>
				</div><!-- end panel-heading -->
				<p>Sightseeing..</p>
			  <!--	  <img src="img/sight.jpg" alt="Bootstrap 3" class="img-circle">
					  <a href=# target="_blank" class="btn btn-danger btn-block">See more..</a>-->
			</div><!-- end panel -->
		</div><!-- end feature -->
	
			<div class="col-md-6 feature">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Arts & Entertainment
							<span class="pull-right glyphicon glyphicon-camera clickable_space" data-toggle="collapse" data-parent="#the_items" data-target="#n_1"></span></h3>
					</div><!-- end panel-heading -->
					<img src=# alt="Bootstrap 3" class="img-circle">

					<p>Shopping..</p>

				</div><!-- end panel -->
			</div><!-- end feature --> 	
        </div>
	</div> <!-- container -->
</body>
</html>

