<div class="container" ng-show="isLoggedIn()">
  <div class="panel panel-info">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#favoritePanel">
        <h3 class="panel-title">{{username}}'s Favorites
          <span class="pull-right glyphicon glyphicon-star clickable_space"></span>
        </h3>
      </a>
    </div><!-- end panel-heading -->
    <div id="favoritePanel" class="panel-body panel-collapse">
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Link</th>
        <th>Action</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input class="form-control" ng-model="favorite.category">
        </td>
        <td>
          <input class="form-control" ng-model="favorite.name">
        </td>
        <td>
          <input class="form-control" ng-model="favorite.url">
        </td>
        <td>
          <button class="btn btn-primary" ng-click="addFavorite()">Add New</button>
        </td>
        <td>
          <button class="btn btn-info" ng-click="updateFavorite()">Update</button>
        </td>
        <td>
          <button class="btn btn-info" ng-click="deselectFavorite()">Clear</button>
        </td>
      </tr>

      <tr ng-repeat="entry in favorites">
        <td>{{entry.category}}</td>
        <td>{{entry.name}}</td>
        <td>{{entry.url}}</td>
        <td>
          <button class="btn btn-danger" ng-click="removeFavorite(entry._id)">Remove</button>
        </td>
        <td>
          <button class="btn btn-warning" ng-click="setFavorite(entry)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
